nav {
    background-color: black;
    height: 90px;
    display: flex;
}
.header {
    width: 70%;
    text-decoration: none;
    font-size: 20px;
    color: white;
}
 a {
    text-decoration: none;
    color: white;
}
.right-side-list{
    width:30%;
    display: flex;
    align-items: center;
    
}
.right-side-list ul{
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
.rigth-side-list ul li{
    text-decoration: none;
}