nav {
    background-color: black;
    height: 90px;
    display: flex;
}
.header {
    width: 40%;
    text-decoration: none;
    font-size: 20px;
    color: white;
}
 a {
    text-decoration: none;
    color: white;
}
.right-side-list{
    width:30%;
    display: flex;
    align-items: center;
    
}
.right-side-list ul{
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
.right-side-list ul li{
    text-decoration: none;
}
.search-box {
    width: 30%;
    display: flex;
    align-items: center;
}
#search {
    width: 250px;
    height: 40px;
}
.button {
    width: 40px;
    height: 40px;
}
img{
    width: 40px;
    height: 40px;
}